@import "./main.css";

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* .items-left {
  flex: 2;
}
.items-right {
  flex: 1;
} */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.card-img {
  border-radius: 10px;
  width: 250px;
  height: 240px;
  object-fit: cover;
}
.card-btn {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  border-radius: 50px;
  font-size: var(--space-200);
  color: var(--rose-900);
  background-color: var(--white);
  border: solid 1px var(--rose-400);
  padding: 1.2rem 2.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: start;
  margin-top: 2.5rem;
}

.dessert-title {
  font-size: var(--space-200);
  color: var(--rose-500);
  font-weight: lighter;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.dessert-description {
  font-size: var(--space-200);
  font-weight: 600;
  color: var(--rose-900);
  margin-bottom: 0.4rem;
}
.desser-price {
  color: var(--red);
  font-size: var(--space-200);
}

.price-container {
  width: 400px;
  height: 400px;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .items-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
